/************** Antd general ********************/
/* No espacio entre elementos de formulario */
.ant-form-item {
  margin-bottom: 0px;
}
/* Modales */
.ant-modal {
  line-height: inherit !important;
}
.ant-modal .ant-modal-body {
  line-height: inherit !important;
}
.ant-modal .ant-modal-content {
  background: transparent;
  padding: 0;
  border-radius: 2rem;
}
/* Focus en Input password */
.ant-input-outlined:focus-within {
  border-color: transparent !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.25rem rgba(188, 19, 115, 0.25) !important;
}
/* Focus en date picker */
.ant-picker-outlined:focus-within {
  border-color: transparent !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.25rem rgba(188, 19, 115, 0.25) !important;
}
/* Color de texto en input number */
.ant-input-number .ant-input-number-input {
  color: inherit;
}
.ant-picker .ant-picker-input > input {
  color: inherit;
  font-size: inherit;
  font-family: "Jost";
}
/* Button height */
.ant-btn {
  height: inherit;
}
/* Number input  */
.ant-input-number {
  width: 100%;
}
.ant-input-number .ant-input-number-input {
  padding: 0;
}
.ant-input-number:focus-within {
  border-color: none !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.25rem rgba(188, 19, 115, 0.25) !important;
}
/* Ocultar cuadro de Upload */
.hide-upload .ant-upload-wrapper .ant-upload-select {
  display: none;
}
/* Reduce tamaño de preview de Upload para tipo picture-card */
.ant-upload-list-picture-card .ant-upload-list-item-container {
  width: 70px !important;
  height: 70px !important;
}
/* Reducir tamaño de botón para subir más de Upload */
.ant-upload-wrapper.ant-upload-picture-card-wrapper
  .ant-upload.ant-upload-select {
  width: 70px !important;
  height: 70px !important;
}
/* No mostrar nada cuando Form.Item no tiene contenido */
.ant-form-item .ant-form-item-control-input {
  min-height: 0;
}
/* Muestra sólo el primer error de validación */
form div.ant-form-item-explain .ant-form-item-explain-error:not(:first-child) {
  display: none;
}
/* Cambiar hover de button */
.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
  background: #990057;
  color: #ffffff;
}
/* Tamaño de fuente en tabla */
.ant-table-wrapper .ant-table {
  font-size: 16px;
}
/* No margin bottom al usar Typography  */
.ant-typography {
  margin-bottom: 0 !important;
}
/* Border radius de Popover */
.ant-popover .ant-popover-inner {
  border-radius: 0.7rem;
}
.ant-modal .ant-modal-close {
  border-radius: 50%;
}

/* Espacio para icono */
.ant-btn-icon {
  margin-right: 5px;
}

/* No line height */
.ant-app {
  line-height: inherit;
}

/*****************************/
/* Truncar texto */
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* Pasar texto a siguiente línea */
.long-text-wrap {
  word-wrap: break-word;
  word-break: break-all;
}
/* Rate stars */
.ant-rate .ant-rate-star:not(:last-child) {
  margin-inline-end: 3px;
}
/* Tablas */
.card-white .ant-table-wrapper .ant-table-tbody > tr > td {
  background: #f3f7fa;
  border-bottom: 5px solid white;
  padding: 5px 10px;
}
.card-white td:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.card-white td:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
/* Scrollbar */
.custom-scroll::-webkit-scrollbar {
  width: 5px;
}
.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #b7bfc5;
  border-radius: 35px;
  border: 0px;
}

/********** Antd's select **************************/

.form-control .ant-select-selector {
  border: 1px solid transparent !important;
  background: transparent !important;
}

.ant-select.ant-select-in-form-item {
  padding: 0;
}

.ant-select-focused .ant-select-selector {
  border-color: none !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.25rem rgba(188, 19, 115, 0.25) !important;
}

.ant-select-single .ant-select-selector {
  font-weight: 400;
  color: #92acbf;
  font-size: 1rem;
}

.ant-form-item-control-input-content > .ant-select {
  height: 40.33px !important;
}

.ant-select-single {
  height: 40.33px !important;
}

.form-control > .ant-select-selector {
  text-align: left;
}

.ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
  border: none;
}

.btn-certificados .ant-select-selector {
  border-radius: 0.8rem;
}

/* Remueve before */
.no-before:before {
  content: "";
}

/* Para home table, remueve padding para centrar div */
.ant-table-wrapper .ant-table-expanded-row-fixed {
  padding: 11px 0px;
}

.no-pointer-events {
  pointer-events: none;
}

.chat-tab .ant-tag-checkable:not(.ant-tag-checkable-checked):hover {
  background-color: #f3f7fa;
}

.chat-tab .ant-tag {
  border-radius: 10px;
}

.ant-input-outlined:hover {
  background-color: initial;
  border-color: initial;
}

/* Para poner background en notificaciones */

.notification-popover .ant-popover-inner {
  padding: 0;
  overflow: hidden;
  border-radius: 8px;
}

.notification-popover .ant-popover-title {
  padding: 12px 12px 0 12px;
}

/* Popover para chatbot */
.chatbot-popover .ant-popover-content .ant-popover-inner {
  background: transparent;
  padding: 0;
  box-shadow: none !important;
}

.chatbot-popover .ant-popover-content .ant-popover-inner-content {
  background: transparent;
}

/* Simular typing  */
.typing-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10px;
}

.dot-ti {
  width: 5px;
  height: 5px;
  margin: 0 2px;
  background-color: #bc1373;
  border-radius: 50%;
  animation: bounce 1.4s infinite ease-in-out both;
}

.dot-ti:nth-child(1) {
  animation-delay: -0.32s;
}

.dot-ti:nth-child(2) {
  animation-delay: -0.16s;
}

.dot-ti:nth-child(3) {
  animation-delay: 0;
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
    opacity: 0.3;
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Reducir padding en head de table */
.ant-table-wrapper .ant-table-thead > tr > th {
  padding: 16px 10px;
}

/* Truncar nombre de columna */
.ant-table-column-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Para botones flotantes */
.ant-float-btn-group-circle {
  gap: 10px;
}
.ant-float-btn-group {
  bottom: 20px;
}

/* Para términos y condiciones */
.tc-subtitulo {
  font-weight: bold;
  font-size: 15px;
  padding-top: 5px;
  display: block;
}

.tc-lista-condiciones {
  list-style: decimal inside;
  margin-left: 20px;
  padding-left: 0;
}

.tc-lista-condiciones li {
  margin-bottom: 5px;
}

.tc-item-titulo {
  font-weight: bold;
}

.tc-seccion {
  margin-bottom: 10px;
  line-height: 1.3;
  text-align: justify;
  font-size: 12px;
}

.tc-seccion p {
  margin-block-start: 5px;
  margin-block-end: 5px;
}

.tc-alert-base {
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.tc-alert-base h3 {
  margin-block-start: 5px;
  margin-block-end: 5px;
}

.tc-seccion table {
  border-collapse: collapse;
  width: 100%;
}

.tc-seccion th,
.tc-seccion td {
  padding: 3px 4px;
  border: 1px solid #ddd;
  text-align: left;
}

.tc-seccion thead {
  background-color: #f4f4f4;
}

.tc-seccion th {
  text-align: center;
}

/* Subtítulo en Home */
@keyframes glow {
  0% {
    text-shadow: 0 0 5px white;
  }
  50% {
    text-shadow: 0 0 20px white;
  }
  100% {
    text-shadow: 0 0 5px white;
  }
}

.highlighted-text {
  animation: glow 2s infinite;
}

/* Botón flotante para crear requerimiento */

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}

.call-to-action.pulsing {
  animation: pulse 1.5s infinite;
}

@keyframes bounceIn {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  60% {
    transform: translateY(20px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}

.call-to-action.bounce-in {
  animation: bounceIn 0.8s ease;
}

/* Search bar highlight */

@keyframes pulseBorder {
  0% {
    box-shadow: 0 0 0px 0 rgba(188, 19, 115, 0.7);
  }
  50% {
    box-shadow: 0 0 8px 4px rgba(188, 19, 115, 0.7);
  }
  100% {
    box-shadow: 0 0 0px 0 rgba(188, 19, 115, 0.7);
  }
}

.highlight-search {
  animation: pulseBorder 1.5s ease-in-out infinite;
  border: 2px solid #bc1373;
  border-radius: 4px;
}
