/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 350px) {
  .modal-card {
    padding: 25px !important;
  }
  .bloque-estd {
    flex: 1 0 50% !important;
    padding: 25px;
  }
  .doc-botones {
    padding: 15px !important;
  }
  .card-d3 {
    flex-direction: column;
  }
  .imagen-perfil {
    width: calc(100% - 40px);
  }
  .ofertas-recib {
    font-size: 20px;
  }
  .multimedia-oferta {
    flex-direction: column !important;
    align-items: end !important;
    width: 100%;
  }
  .card-ofertas {
    padding: 15px;
  }
  .head-oferta {
    align-items: start;
  }
  .img-oferta {
    min-width: 50px;
    width: 50px;
    height: 50px;
    margin-right: 5px;
  }
  .oferta-acciones {
    gap: 5px;
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
  .detalles-ofer-emp {
    flex-wrap: wrap;
    gap: 5px;
  }
  .doc-upload {
    flex-direction: column;
  }
  .estado-envio {
    flex-direction: column;
  }
  .estado-envio .wd-100 {
    text-align: center;
  }
  .certificado-bloque .oferta-titulo {
    flex-wrap: wrap;
  }
  .btn-certificados {
    width: 100%;
  }
  .user-name {
    font-size: 22px;
  }
  .card-d1 {
    padding: 20px !important;
    border-radius: 25px;
  }
  .sub-icon-cert {
    font-size: 20px;
    padding: 10px;
  }
  .icon-doc {
    font-size: 60px;
  }
  .user-cantidad {
    font-size: 14px;
  }
  .usuario-badge {
    font-size: 11px !important;
    padding: 3px 6px !important;
  }
  .tags-req {
    flex-wrap: wrap;
  }
  .header-requerimiento {
    max-width: calc(100% - 40px) !important;
    margin: auto 20px !important;
  }
  .section-detalles {
    padding: 20px !important;
    gap: 15px;
  }
  .oferta-check > button {
    width: 100%;
  }
  .cantidad-estd {
    font-size: 18px;
  }
  .detalles-estd {
    font-size: 16px;
  }

  .ti-1 {
    font-size: 16px !important;
  }
  .ti-2 {
    font-size: 12px !important;
  }
  .slider-desc {
    width: calc(100% - 20px) !important;
    padding: 0 10px !important;
  }
  .list-requ {
    text-align: left;
  }
  .col-publicidad {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr)) !important;
  }
  .col-publicidad-2 {
    display: flex !important;
  }
  .calificacion-emp {
    font-size: 14px;
  }
  .empresa-cantidad {
    font-size: 14px;
  }
  .em-1,
  .em-2 {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr)) !important;
  }
  .filter-in {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr)) !important;
  }
  .f-empresa {
    grid-column: 1 / span 1 !important;
  }
  .filter-in > button {
    grid-column: 1 / span 1 !important;
  }
  .em-b {
    grid-column: 1 / span 1 !important;
  }
  .image-send {
    width: 75px !important;

    height: 75px !important;
  }

  .space-img {
    display: none;
  }

  .chat-fecha {
    font-size: 12px;
  }
}

@media (max-width: 476px) {
  .titulo {
    font-size: 24px;
  }
  .doc-botones {
    flex-wrap: wrap;
  }
  .col-menu {
    width: calc(100% - 60px) !important;
  }
  .card-white {
    padding: 20px;
  }
  .tc-datos {
    height: calc(100vh - 118px);
    padding: 20px;
  }
  .sub-titulo {
    font-size: 20px;
  }
  .calificar-detalle {
    font-size: 16px;
  }
  .doc-name {
    font-size: 20px;
  }
  .detalles-oferta {
    font-size: 16px;
  }
  .sub-icon {
    padding: 10px;
    font-size: 20px;
  }
  .icon-doc-estado {
    min-width: 50px;
    width: 50px;
    height: 50px;
    font-size: 24px;
  }
  .up-footer {
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
  }
  .ofertas-recib {
    font-size: 22px;
  }
  .bnt-filter {
    font-size: 12px;
    padding: 10px 12px;
    border-radius: 0.7rem;
  }
  .usuario-badge {
    font-size: 12px;
    padding: 4px 8px;
  }
  .oferta-datos {
    gap: 3px;
  }
  .tag-gray,
  .tag-gray-2,
  .tag-default {
    font-size: 13px;
    padding: 4px 8px;
  }
  .tags-oferta {
    gap: 4px;
  }
  .user-empresa-2 {
    width: 26px;
    height: 26px;
    font-size: 14px;
  }
  .badge-green,
  .badge-warning {
    padding: 10px 10px;
    border-radius: 0.8rem;
  }
  .mas-acciones {
    font-size: 20px;
    height: 37px;
    width: 37px;
    min-width: 37px;
  }
  .cert-documentos {
    margin-bottom: 5px;
    justify-content: space-between !important;
  }
  .btn-green {
    width: 100%;
  }
  .cert-documentos {
    justify-content: center;
  }
  .mr-sub,
  .mr-sub-2 {
    margin-bottom: 15px;
  }
  .alert-base {
    gap: 10px;
  }
  .oferta-datos {
    margin-right: 5px;
  }
  .btn-trash {
    width: 100%;
  }

  /* Página Principal */
  .container-tc {
    padding: 0 30px;
  }

  .options-tc {
    gap: 5px;
  }
  .section-guia {
    height: 200px;
  }

  .breadcrumb-req {
    padding-bottom: 30px;
  }
  .header-requerimiento {
    gap: inherit;
  }
  .header-requerimiento h1 {
    font-size: 1.4em;
  }
  .header-requerimiento div {
    font-size: 14px;
  }
  .titulo-requ {
    font-size: 1.4em;
    /* line-height: 0.7; */
  }
  .det-c {
    flex-direction: column;
  }
  .uf-2 {
    flex-direction: column;
  }
  .datos-req {
    gap: 0;
  }
  .c-descripcion {
    line-height: 1.4;
  }
  .archivos-view {
    gap: 10px;
  }
  .archivos-up {
    gap: 10px;
  }
  .form-oferta {
    gap: 10px;
  }

  .ht-s3 {
    width: 100% !important;
    gap: 0;
  }
  .icon-home {
    min-width: 45px;
    width: 45px;
    height: 45px;
    font-size: 18px;
  }
  .list-requ {
    font-size: 20px;
  }
  .about-1 {
    font-size: 22px;
    line-height: 1.4;
  }
  .about-2 {
    font-size: 16px;
    line-height: 1.4;
  }
  .icon-empresa-d {
    font-size: 20px;
    width: 45px;
    height: 45px;
    min-width: 45px;
  }
  .datos-empresa-2 {
    padding: 20px !important;
  }
  .footer-s1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .footer-s1 > img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 576px) {
  .modal-card {
    padding: 30px;
  }
  .card-pink,
  .card-blue,
  .card-teal,
  .card-black,
  .card-red,
  .card-gray-m,
  .card-green {
    font-size: 17px;
  }
  .card-pink,
  .card-blue,
  .card-teal,
  .card-black,
  .card-red,
  .card-gray-m,
  .card-green {
    width: 100% !important;
  }
  .card-red,
  .card-gray-m,
  .card-green {
    font-size: 17px;
  }
  .card-red,
  .card-gray-m,
  .card-green {
    width: 100% !important;
  }
  .estado-oferta {
    flex-wrap: wrap;
  }
  .alert-boton {
    padding: 0.6rem 1.3rem !important;
  }
  .datos-empresa {
    flex-direction: column;
  }
  .card-d1 {
    padding: 25px;
  }
  .card-d2 {
    flex-direction: column;
  }
  .datos-conacto {
    flex-direction: column;
  }
  .bloque-e1 {
    flex-direction: column;
    gap: 15px !important;
  }
  .bloque-e2 {
    flex-wrap: wrap;
    gap: 15px !important;
  }
  .bloque-e3 {
    flex-wrap: wrap;
    gap: 15px !important;
  }
  .bloque-estd {
    overflow: auto !important;
    flex: 1 0 25%;
    gap: 20px !important;
  }
  .doc-botones {
    padding: 20px;
  }
  .imagen-perfil {
    padding: 20px;
  }
  .card-cantidad {
    flex-direction: row !important;
    text-align: left !important;
    flex: 1 0 25%;
  }
  .doc-datos .doc-botones {
    padding: 0 !important;
  }

  .logo-header {
    height: 35px;
  }
  .header-requerimiento {
    max-width: calc(100% - 40px);
    margin: auto 20px;
  }
  .section-detalles {
    padding: 20px !important;
    gap: 15px;
  }

  .cbl-1,
  .cbl-2,
  .cbl-3,
  .cbl-4,
  .cbl-5,
  .cbl-6 {
    grid-column: 1 / span 4 !important;
  }
  .section-galeria {
    height: 280px;
  }
  .det-1 {
    padding: 12px;
    border-radius: 0.8rem;
  }
  .det-2 {
    font-size: 22px;
    padding: 12px;
    border-radius: 0.8rem;
  }
  .det-2 span {
    font-size: 12px;
  }
  .det-3 {
    padding: 12px;
    font-size: 14px;
    border-radius: 0.8rem;
  }
  .ub-1 {
    font-size: 16px;
  }
  .ub-2 {
    font-size: 14px;
  }
  .detalles-requ {
    padding: 15px;
    gap: 10px;
  }
  .det-c {
    gap: 10px;
  }
  .oferta-check {
    height: auto;
  }

  .slider-desc {
    height: 330px;
    width: calc(100% - 50px);
    padding: 0 25px;
  }
  .count-req {
    flex-direction: column;
    flex: 1;
  }
  .col-documento-2 {
    text-align: center;
  }
  .section-slider {
    height: 420px;
  }
  .home-t > h2 {
    font-size: 18px;
    line-height: 1.4;
  }
  .home-t > h3 {
    font-size: 16px;
    line-height: 1.4;
  }
  .ti-1 {
    font-size: 18px;
  }
  .ti-2 {
    font-size: 14px;
  }
  .ht-s1,
  .ht-s2 {
    width: 100%;
  }
  .ht-s3 {
    width: 80%;
  }
  .col-publicidad-2 {
    grid-template-columns: repeat(auto-fill, minmax(33%, 1fr)) !important;
  }
  .datos-conacto-2 {
    flex-direction: column;
    gap: 5px;
  }
  .em-1,
  .em-2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(35%, 1fr));
  }
  .requerimiento-2 {
    flex-direction: column;
    align-items: center;
  }
  .portada-detalle-2 {
    width: 100% !important;
  }
  .filter-in {
    grid-template-columns: repeat(auto-fill, minmax(35%, 1fr));
  }
  .f-empresa {
    grid-column: 1 / span 2;
  }
  .filter-in > button {
    grid-column: 1 / span 2;
  }
  .footer-s2 {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .em-b {
    grid-column: 1 / span 2;
  }
  .cbl-4 {
    padding: 20px !important;
  }
  .about-me,
  .certificado-estado-1,
  .certificado-estado-2,
  .certificado-estado-3 {
    font-size: 16px;
  }
  .modulo-chat {
    display: flex;

    flex-direction: column;
  }

  .mch-2 {
    display: none;
  }

  .header-menu {
    padding: 0 20px !important;
  }

  .user-opt {
    width: 150px !important;
  }

  .multimedia-oferta {
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 8px !important;
    margin-top: 8px;
  }
}

/* Estilos para pantallas medianas (tablets) */
@media (max-width: 768px) {
  .req-btn-info {
    display: none;
  }

  .requerimiento-o {
    flex-direction: column;
    align-items: center;
  }
  .portada-detalle {
    width: 100% !important;
  }
  .titulo-req {
    font-size: 1.1rem !important;
  }
  .info-req {
    -webkit-line-clamp: 2 !important;
  }
  .precio-req {
    font-size: 26px !important;
  }
  .badge-grey-border {
    font-size: 14px !important;
    padding: 7px !important;
    border-radius: 0.8rem !important;
  }
  .badge-default-border {
    font-size: 14px !important;
    padding: 7px !important;
    border-radius: 0.8rem !important;
  }
  .body-ofertas {
    flex-direction: column;
    gap: 10px;
  }
  .multimedia-oferta {
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 8px !important;
  }
  .portada-oferta {
    width: 100% !important;
  }

  .card-pink,
  .card-blue,
  .card-teal,
  .card-black,
  .card-red,
  .card-gray-m,
  .card-green {
    font-size: 21px;
  }
  .detalle-req {
    width: 100%;
  }
  .col-menu {
    position: absolute;
    z-index: 9;
    width: 240px;
    display: none;
  }
  .col-datos {
    width: 100%;
  }
  .perfil-user {
    flex-direction: column;
    align-items: center;
  }
  .card-datos {
    width: 100% !important;
  }
  .card-d4 {
    flex-direction: column;
  }
  .card-cantidad {
    flex-direction: column;
    text-align: center;
  }

  .home-1,
  .home-2 {
    grid-column: 1 / span 5;
  }
  .col-publicidad {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(35%, 1fr));
  }
  .col-publicidad-2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
  }
  .img-empresa {
    width: 100px;
    max-width: 100px;
    height: 100px;
  }
  .section-detalles {
    padding: 30px;
  }
  .requerimiento-2 {
    padding: 20px;
    gap: 10px;
  }
  .portada-detalle-2 {
    width: 132px;
    height: 132px;
  }
  .req-det {
    gap: 5px;
  }
  .tags-req {
    gap: 5px;
  }
  .cbl-4 {
    padding: 25px;
  }
  .tc-chat {
    height: calc(100vh - 118px);

    padding: 20px;
  }

  .mch-1,
  .mch-2 {
    height: calc(100vh - 208px) !important;
  }

  .img-chat-2 {
    min-width: 45px;

    width: 45px;

    height: 45px;
  }

  .chat-online-2 {
    left: 32px;

    top: 30px;
  }

  .image-send {
    width: 90px;

    height: 90px;
  }

  .content-galeria {
    height: calc(100vh - 268px) !important;
  }
  .archivo-preview {
    max-height: calc(100vh - 433px) !important;
  }
}

/* Estilos para pantallas grandes (escritorios) */
@media (max-width: 900px) {
  .cbl-1 {
    grid-column: 1 / span 4;
  }
  .cbl-2 {
    grid-column: 1 / span 2;
  }
  .cbl-3 {
    grid-column: 3 / span 2;
  }
  .cbl-4 {
    grid-column: 1 / span 4;
  }
  .cbl-5 {
    grid-column: 1 / span 2;
  }
  .cbl-6 {
    grid-column: 3 / span 2;
  }
  .archivos-up {
    flex-direction: column;
  }
  .up-footer > .uf-1 {
    width: 100%;
    flex-direction: column;
    line-height: 1;
  }
  .uf-2 {
    width: 100%;
  }
  .uf-2 > .btn {
    flex-grow: 1;
  }
  .card-empresa {
    flex-direction: column;
  }
  .empresa-about {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .card-d4 {
    flex-direction: column;
  }
  .tpub-1,
  .tpub-3 {
    font-size: 22px;
  }
  .tpub-2 {
    font-size: 16px;
  }
  .back-pub-1,
  .back-pub-2,
  .back-pub-3,
  .back-pub-4,
  .back-pub-5 {
    padding: 25px;
  }
  .modulo-chat {
    grid-template-columns: repeat(auto-fill, minmax(7%, 1fr));
  }

  .mch-1 {
    padding: 21px;

    height: calc(100vh - 228px);
  }

  .mch-2 {
    padding: 21px;

    height: calc(100vh - 228px);
  }

  .content-galeria {
    height: calc(100vh - 288px);
    margin: 21px;
  }
  .archivo-preview {
    max-height: calc(100vh - 453px);
  }
  .cont-prime-h {
    width: 1170px;
  }
  .header-menu {
    padding: 0 30px;
  }
}

@media (min-width: 2026px) {
  .modulo-chat {
    grid-template-columns: repeat(auto-fill, minmax(9%, 1fr));
  }
}

/* Medidas Minimas */

@media (max-width: 992px) {
  .cont-prime-h {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .cont-prime {
    max-width: 1170px;
  }

  .cont-prime-h {
    width: 1170px;
  }

  .header-menu {
    padding: 0 30px;
  }
}

@media (min-width: 1400px) {
  .cont-prime {
    max-width: 1314px;
  }
  .cont-prime-h {
    width: 1314px;
  }
}
