/* Primarios */

body {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 28px;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

/* Scroll */

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
}
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0, 0.3);
  border-radius: 8px;
}

/* Solo en Firefox */
@-moz-document url-prefix() {
  * {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
  }
}

.scroll-y {
  overflow-y: scroll;
}

/* Texto y Fuentes */

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

/* Color */

.c-default {
  color: #bc1373;
}

/* Bootnes */

.btn {
  display: inline-block;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent !important;
  padding: 0.6rem 0.9rem;
  font-size: 0.9rem;
  border-radius: 0.8rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
  line-height: 1.5;
  border-radius: 0.6rem;
}

.btn-default {
  color: #fff;
  background: #bc1373;
}

.btn-default:hover {
  background: #990057;
}

.btn-default.focus,
.btn-default:focus {
  background: #990057;
}

.btn-grey {
  color: #3b4c56;
  background: #f3f7fa;
}

.btn-grey:hover {
  color: #fff;
  background: #bc1373;
}

.btn-grey.focus,
.btn-grey:focus {
  color: #fff;
  background: #bc1373;
}

.btn-grey.active,
.btn-grey:active {
  color: #fff;
  background: #bc1373;
}

.btn-white {
  color: #000;
  background-color: #fff;
}

.btn-white:hover {
  background: #e9e9e9;
}

.btn-white.focus,
.btn-white:focus {
  background: #e9e9e9;
}

.btn-transparent {
  color: #fff;
  background: transparent;
}

.btn-transparent:hover {
  background: rgb(0 0 0 / 20%);
}

.btn-transparent.focus,
.btn-transparent:focus {
  background: rgb(0 0 0 / 20%);
}

.btn-border {
  color: #510839;
  border: 2px solid #510839;
}

.btn-border:hover {
  color: #fff;
  background: #510839;
}

.btn-border.focus,
.btn-border:focus {
  color: #fff;
  background: #510839;
}

.btn-border.active,
.btn-border:active {
  color: #fff;
  background: #510839;
}

.btn-border-default {
  color: #bc1373 !important;
  border: 2px solid #bc1373 !important;
}

.btn-border-default:hover {
  color: #fff !important;
  background: #bc1373 !important;
}

.btn-border-default.focus,
.btn-border-default:focus {
  color: #fff !important;
  background: #bc1373 !important;
}

/* Formularios */

.form-control {
  padding: 0.475rem 0.85rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #92acbf !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #f3f7fa !important;
  background-clip: padding-box;
  border: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #bc1373;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(188, 19, 115, 0.25);
}

/* Containers y Tamaños */

.t-flex {
  display: flex;
}

.t-wrap {
  flex-wrap: wrap;
}

.wd-100 {
  width: 100% !important;
}
.wd-50 {
  width: 50% !important;
}
.wd-25 {
  width: 25% !important;
}
.wd-10 {
  width: 10% !important;
}

.wd-33 {
  width: 33.3% !important;
}

.col-menu {
  width: calc(300px - 60px);
  height: calc(100vh - 60px);
  background: #510839;
  color: #fff;
  padding: 30px;
  flex-direction: column;
  gap: 10px;
  background: linear-gradient(-35deg, #bc1373 0%, #510839 45%);
}

.col-datos {
  width: calc(100% - 300px);
  color: #000;
}

.tc-datos {
  background: #f3f7fa;
  color: #000;
  height: calc(100vh - 138px);
  padding: 30px;
}

.card-white {
  background: #fff;
  padding: 30px;
  border-radius: 30px;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

/* Menu */

.menu-tc-1 {
  flex-grow: 1;
  gap: 2px;
  flex-direction: column;
}

.menu-tc-2 {
  gap: 10px;
  flex-direction: column;
}

.menu-tc-3 {
  gap: 2px;
  flex-direction: column;
}

.sub-menu {
  gap: 2px;
  flex-direction: column;
  margin-left: 22px;
  display: none;
}

.i-btn {
  width: 25px;
}

.i-sub {
  float: right;
  margin-top: 3px;
  width: 28px;
}

.chat-notf {
  float: right;
  background: #bc1373;
  padding: 1px 6px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 600;
}

/* Header */

.i-menu {
  font-size: 24px;
  cursor: pointer;
  color: #92acbf;
}

.i-opt {
  color: #92acbf;
  font-size: 24px;
  margin-right: 8px;
  line-height: 2;
  cursor: pointer;
}

.user-opt {
  cursor: pointer;
  line-height: 1;
}

.options-tc {
  font-weight: 600;
  gap: 10px;
  align-items: center;
}

.options-tc img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
}

.avatar-l {
  width: 45px;
  min-width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #bc1373;
  color: #fff;
  border-radius: 50%;
  font-size: 26px;
}

.header-tc {
  padding: 15px 20px;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.i-notf {
  width: 10px;
  height: 10px;
  border-radius: 15px;
  background: #bc1373;
  position: absolute;
  margin-top: 10px;
  margin-left: -15px;
}

/* Contenedor de Datos */

.c-titulo {
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
}

.titulo {
  font-size: 28px;
  font-weight: 700;
}

.sub-titulo {
  font-size: 26px;
  font-weight: 600;
}

.sub-icon {
  color: #bc1373;
  background: rgb(188 19 115 / 5%);
  padding: 15px;
  border-radius: 50%;
  font-size: 24px;
  margin-right: 5px;
}

.user-premium {
  background: #f9a825;
  color: #fff;
  font-size: 14px;
  padding: 8px 10px;
  border-radius: 0.5rem;
  margin-right: 5px;
  line-height: 1;
}

/* Login y registro */

.modal-login {
  display: flex;
  width: 100%;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
}

.login-box {
  padding: 40px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-box p {
  margin-bottom: 15px;
  margin-top: 0;
  font-weight: 500;
  line-height: 1.3;
}

.forgot-password {
  color: #92acbf;
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
}

.image-box {
  width: 60%;
  background-image: url(images/login.jpg);
  background-size: cover;
  background-position: center;
}

.image-box-registro {
  width: 60%;
  background-image: url(images/registro.jpg);
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .image-box {
    display: none;
  }

  .image-box-registro {
    display: none;
  }

  .login-box {
    width: 100% !important;
  }
}

/* Modal Agregar Requerimiento */
.modal-card {
  background: #fff;
  padding: 40px;
  border-radius: 1rem;
}
.img-bg {
  /* width: 800px; */
  /* width: 100%; */
  background-image: url(images/back-modal.svg);
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: top right;
}
.mr-sub {
  margin-bottom: 20px;
  gap: 15px;
}
.form-tc {
  row-gap: 15px;
  flex-direction: column;
}
.gap-15 {
  gap: 15px;
}
.row-gap-15 {
  row-gap: 15px;
}
.img-prod {
  border-radius: 0.9rem;
}
.subir-img {
  background: #bc1373;
  color: #ffffff;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  margin-left: 117px;
  margin-top: 10px;
  font-size: 14px;
  cursor: pointer;
}
.req-col {
  flex-direction: column;
  flex-grow: 1;
}
.titulo-input {
  color: #3b4c56;
  font-weight: 600;
  font-size: 16px;
}
.multimedia-subir {
  background: #ffe9f7;
  color: #bc1373;
  font-weight: 600;
  text-align: center;
  padding: 30px;
  border-radius: 0.9rem;
  cursor: pointer;
}
.galeria-min {
  gap: 10px;
  margin-top: 15px;
}
.img-min {
  height: 55px !important;
  width: 55px !important;
  border-radius: 0.6rem;
  display: flex;
  object-fit: cover;
}
.img-trash {
  color: #bc1373;
  background: #fff;
  position: absolute;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  margin-left: 40px;
  margin-top: -60px;
}
.file-min {
  background: #ffe9f7;
  color: #bc1373;
  height: 55px !important;
  width: 55px !important;
  border-radius: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
.up-footer {
  align-items: center;
  justify-content: space-between;
}
.footer-text {
  color: #a4b2ba;
  font-weight: 500;
}

/* Tabla */
.tx-thead {
  color: rgb(59 76 86 / 80%);
}
.td-left {
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  background: #f3f7fa;
}
.td-back {
  background: #f3f7fa;
}
.td-righ {
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  background: #f3f7fa;
}
.dato-table {
  /* padding: 5px; */
  align-items: center;
  font-weight: 500;
  line-height: 1.2;
}
.c-ofertas {
  /* padding: 5px 10px; */
  align-items: center;
  justify-content: center;
}
.img-prod-table {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}
.datos-prod {
  line-height: 1.2;
}

.info-categoria {
  font-weight: 600;
  font-size: 15px;
  color: rgb(59 76 86 / 80%);
}
.c-estados {
  /* padding: 10px; */
  align-items: center;
  justify-content: center;
  width: 95px;
}
.oferta-cant {
  background: #ffdef2;
  color: #bc1373;
  padding: 2px 8px;
  border-radius: 15px;
  font-weight: 600;
}
.seleccionar-tb {
  align-items: center;
  gap: 5px;
}
.cont-estado {
  font-size: 14px;
  font-weight: 500;
  padding: 8px 10px;
  border-radius: 0.6rem;
  line-height: 1;
}
.es-atendido {
  background: #c9f2d6;
  color: #01b43e;
}
.es-culminado {
  background: #cfe8ff;
  color: #007aff;
}
.es-cancelado {
  background: #ffd2d2;
  color: #d80000;
}
.es-disputa {
  background: #cbf2f4;
  color: #17a2b8;
}
.es-expirado {
  background: #e6e6e6;
  color: #808080;
}
.es-publicado {
  /* background: rgb(250, 242, 207);
  color: rgb(255, 201, 14); */
  background: #ffdef2;
  color: #bc1373;
}
.es-eliminado {
  background: #000000;
  color: #e7ddbe;
}

/* Modal Ver Ofertas */
.detalle-oferta {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.portada-detalle {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 1.2rem;
}
.detalle-req {
  flex-direction: column;
  gap: 10px;
  width: calc(100% - 265px);
}
.titulo-req {
  margin: 0;
  font-size: 1.5rem;
  text-align: justify;
  line-height: 1.08;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.tags-req {
  gap: 8px;
  align-items: center;
}
.badge-default {
  background: #bc1373;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 14px;
  border-radius: 0.9rem;
  line-height: 1;
}
.badge-second {
  background: #ffe9f7;
  color: #bc1373;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 14px;
  border-radius: 0.9rem;
  line-height: 1;
}
.badge-grey {
  background: #edf8ff;
  color: #92acbf;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 14px;
  border-radius: 0.9rem;
  line-height: 1;
}
.puntuacion {
  display: flex;
  align-items: center;
  gap: 5px;
}
.p-start {
  color: #f9a825 !important;
  font-size: 22px;
}
.p-cantidad {
  color: #a4b2ba;
  font-weight: 500;
}
.info-req {
  color: #3b4c56;
  font-weight: 600;
  line-height: 1.5;
  text-align: justify;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.info-req-no-clamp {
  color: #3b4c56;
  font-weight: 600;
  line-height: 1.5;
  text-align: justify;
}
.precio-req {
  color: #bc1373;
  font-size: 32px;
}
.badge-grey-border {
  border: 3px solid #92acbf;
  color: #92acbf;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 9px;
  border-radius: 0.9rem;
  line-height: 1;
}
.badge-default-border {
  border: 3px solid #bc1373;
  color: #bc1373;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 9px;
  border-radius: 0.9rem;
  line-height: 1;
}
.card-gray {
  background: #f3f7fa;
  color: #3b4c56;
  padding: 15px;
  border-radius: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ofertas-recib {
  font-size: 26px;
  font-weight: 600;
  flex-grow: 1;
  text-align: center;
}
.bnt-filter {
  background: #92acbf;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 14px;
  border-radius: 0.9rem;
  line-height: 1;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.bnt-filter:hover {
  background: #839bad;
}
.card-ofertas {
  background: #f3f7fa;
  padding: 25px;
  border-radius: 1.2rem;
}
.head-oferta {
  margin-bottom: 10px;
}
.oferta-titulo {
  align-items: center;
  flex: 1;
  overflow: hidden;
}
.img-oferta {
  min-width: 55px;
  width: 55px;
  height: 55px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}
.oferta-usuario {
  line-height: 1.2;
  overflow: hidden;
}
.oferta-datos {
  display: flex;
  align-items: center;
  gap: 0 5px;
  margin-bottom: 2px;
  margin-right: 10px;
}
.usuario-name {
  font-weight: 600;
  font-size: 20px;
}
.usuario-badge {
  border: 3px solid #bc1373;
  color: #bc1373;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 5rem;
  line-height: 1;
}
.usuario-puntuacion {
  display: flex;
  align-items: center;
  gap: 2px;
}
.user-start {
  color: #f9a825;
  font-size: 22px;
}
.user-cantidad {
  color: #a4b2ba;
  font-weight: 500;
  font-size: 16px;
}
.oferta-descripcion {
  gap: 5px;
  align-items: center;
}
.detalles-oferta {
  font-weight: 600;
  font-size: 18px;
  color: rgb(59 76 86 / 80%);
}
.mas-detalle {
  font-size: 14px;
  height: 22px;
  width: 22px;
  min-width: 22px;
  background: rgb(146 172 191 / 20%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 10px;
}
.oferta-acciones {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}
.badge-green {
  background: #01b43e;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
  padding: 12px 14px;
  border-radius: 0.9rem;
  line-height: 1;
}
.badge-warning {
  background: #d80000;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
  padding: 12px 14px;
  border-radius: 0.9rem;
  line-height: 1;
}
.mas-acciones {
  font-size: 22px;
  height: 40px;
  width: 40px;
  min-width: 40px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.tags-oferta {
  align-items: center;
  flex-grow: 1;
  gap: 8px;
}
.tag-gray {
  border: 3px solid #3b4c56;
  color: #3b4c56;
  font-size: 14px;
  font-weight: 600;
  padding: 6px 10px;
  border-radius: 5rem;
  line-height: 1;
  opacity: 0.8;
}
.tag-gray-2 {
  border: 3px solid #3b4c56;
  color: #3b4c56;
  font-size: 14px;
  font-weight: 600;
  padding: 7px 10px;
  border-radius: 5rem;
  line-height: 1;
  opacity: 0.5;
}
.tag-default {
  border: 3px solid #bc1373;
  color: #bc1373;
  font-size: 14px;
  font-weight: 600;
  padding: 7px 10px;
  border-radius: 5rem;
  line-height: 1;
}
.multimedia-oferta {
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: end;
}
.multimedia {
  gap: 8px;
}
.multi-datos {
  background: #92acbf;
  color: #fff;
  font-size: 20px;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  cursor: pointer;
}
.multi-cantidad {
  background: #dde6ed;
  color: #3b4c56;
  font-size: 18px;
  font-weight: 600;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.multi-back {
  background: #dde6ed;
  color: #3b4c56;
  font-size: 18px;
  font-weight: 600;
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-left: 22px;
}
.precio-oferta {
  color: #bc1373;
  font-size: 28px;
  font-weight: 600;
}
.user-empresa {
  width: 40px;
  min-width: 40px;
  height: 40px;
  background: #bc1373;
  color: #fff;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  cursor: pointer;
}
.user-empresa-2 {
  width: 32px;
  min-width: 32px;
  height: 32px;
  background: #bc1373;
  color: #fff;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  cursor: pointer;
}
.valor-start {
  position: absolute;
  width: 24.74px;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
}
.valor-start-2 {
  position: absolute;
  width: 24.74px;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  margin-top: 4px;
}

/* Modal Oferta Ganadora */
.portada-oferta {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 1.2rem;
}
.m-0 {
  margin: 0 !important;
}
.p {
  padding: 0 !important;
}

/* Modal estado de la Oferta */
.card-red {
  background: #ffebeb;
  color: #d80000;
  font-weight: 600;
  font-size: 26px;
  padding: 15px;
  border-radius: 1.2rem;
  text-align: center;
}
.card-green {
  background: #ddffe8;
  color: #01b43e;
  font-weight: 600;
  font-size: 26px;
  padding: 15px;
  border-radius: 1.2rem;
  text-align: center;
}
.card-pink {
  background: #ffdef2;
  color: #bc1373;
  font-weight: 600;
  font-size: 26px;
  padding: 15px;
  border-radius: 1.2rem;
  text-align: center;
}
.card-teal {
  background: #cbf2f4;
  color: #17a2b8;
  font-weight: 600;
  font-size: 26px;
  padding: 15px;
  border-radius: 1.2rem;
  text-align: center;
}
.card-blue {
  background: #cfe8ff;
  color: #007aff;
  font-weight: 600;
  font-size: 26px;
  padding: 15px;
  border-radius: 1.2rem;
  text-align: center;
}
.card-black {
  background: #8e8e8e;
  color: #171515;
  font-weight: 600;
  font-size: 26px;
  padding: 15px;
  border-radius: 1.2rem;
  text-align: center;
}
.card-gray-m {
  background: #f3f7fa;
  color: #92acbf;
  font-weight: 600;
  font-size: 26px;
  padding: 15px;
  border-radius: 1.2rem;
  text-align: center;
}
.ofer-req {
  color: #3b4c56;
  font-weight: 600;
  line-height: 1.3;
  text-align: justify;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.multi-chat {
  background: #01b43e;
  color: #fff;
  font-size: 20px;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.multi-chat:hover {
  background: #00a236;
}

/* Modal Altertas */
.alert-base {
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.alert-info {
  font-size: 26px;
  font-weight: 600;
}
.alert-btn {
  justify-content: center;
}
.btn-second {
  color: #bc1373;
  background: rgb(188 19 115 / 5%);
}
.btn-second:hover {
  background: rgb(188 19 115 / 10%);
}
.btn-second.focus,
.btn-second:focus {
  background: rgb(188 19 115 / 10%);
}
.alert-boton {
  padding: 0.6rem 2.5rem;
}

/* Modal Calificar */
.mr-sub-2 {
  margin-bottom: 20px;
  gap: 10px;
  align-items: center;
}
.preguntas {
  flex-direction: column;
}
.cuestion-p {
  font-size: 19px;
  font-weight: 600;
}
.stars-p {
  line-height: 0;
}
.sub-calificar {
  line-height: 1.1;
}
.calificar-detalle {
  color: #3b4c56;
  font-size: 18px;
}
.estado-envio {
  align-items: center;
}
.envio-info {
  font-weight: 600;
  font-size: 18px;
}

/* Modal Agregar Trabajador */
.ad-user {
  flex: 1;
  flex-direction: column;
}

/* Modal Certicaciones */
.sub-icon-cert {
  color: #01b43e;
  background: #e9fff0;
  padding: 15px;
  border-radius: 50%;
  font-size: 24px;
}
.btn-green {
  color: #fff !important;
  background: #01b43e !important;
}
.btn-green:hover {
  background: #009f35 !important;
}
.btn-green.focus,
.btn-green:focus {
  background: #009f35 !important;
}

.btn-green-o {
  color: #01b43e !important;
  background: rgb(1 180 62 / 10%) !important;
}

.btn-green-o:hover {
  background: rgb(1 180 62 / 20%) !important;
}
.btn-green-o.focus,
.btn-green-o:focus {
  background: rgb(1 180 62 / 20%) !important;
}

.btn-black {
  color: #fff;
  background: #3b4c56 !important;
}
.btn-black:hover {
  background: #33414a !important;
}
.btn-black.focus,
.btn-black:focus {
  background: #33414a !important;
}
.btn-opaco {
  color: #3b4c56 !important;
  background: #e1e6ea !important;
}
.btn-opaco:hover {
  background: #c9cdd1 !important;
}
.btn-opaco.focus,
.btn-opaco:focus {
  background: #c9cdd1 !important;
}
.oferta-cant-doc {
  background: #01b43e;
  color: #fff;
  padding: 2px 10px;
  border-radius: 15px;
  font-weight: 600;
}
.f-white {
  background-color: #fff !important;
}
.img-bg-certificado {
  background-image: url(images/certificado-modal.svg);
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: top right;
}
.cert-datos {
  flex: 1;
  padding: 12px;
}
.dato-empresa {
  color: #92acbf;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  line-height: 1;
}
.cert-documentos {
  gap: 10px;
  align-items: center;
}
.doc-upload {
  gap: 10px;
  align-items: center;
}
.icon-doc {
  color: #3b4c56;
  font-size: 85px;
}
.doc-datos {
  gap: 10px;
  flex-direction: column;
}
.doc-botones {
  gap: 10px;
}
.d-contacto {
  gap: 10px;
}
.icon-doc-estado {
  background: #e1e6ea;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #3b4c56;
  font-size: 30px;
}
.estado-green {
  color: #01b43e;
  font-size: 30px;
}
.estado-red {
  color: #c50404;
  font-size: 30px;
}
.estado-gray {
  color: #383535;
  font-size: 30px;
}
.doc-name {
  color: #3b4c56;
  font-size: 22px;
  font-weight: 600;
}
.col-documento {
  flex: 1;
}
.btn-certificados {
  /* padding: 0.6rem 1rem; */
  border-radius: 0.8rem;
  background: #fff;
  color: #92acbf;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.btn-certificados:hover {
  background: #f8f8f8;
}

.btn-certificados > .ant-select-selector {
  /* padding: 0 !important; */
}

/* Modal Perfil */
.card-rubros-2 {
  background: #f3f7fa;
  flex: 1;
  padding: 20px;
  overflow: hidden;
}

/* Seccion Perfil */
.f-column {
  flex-direction: column;
}
.gap-10 {
  gap: 10px;
}
.gap-20 {
  gap: 20px;
}
.imagen-perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.imagen-p {
  width: 152px;
  height: 152px;
  object-fit: cover;
  border-radius: 50%;
}
.card-datos {
  flex-direction: column;
  flex: 1;
  width: calc(100% - 265px);
}
.card-d1 {
  background: #bc1373;
  color: #fff;
}
.user-name {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 10px;
}
.i-datos {
  color: #fff;
  background: rgb(81 8 57 / 25%);
}
.dato-contact1 {
  font-size: 16px;
  font-weight: 500;
}
.dato-contact2 {
  font-size: 20px;
  font-weight: 500;
}
.card-rubros {
  background: #fff;
  flex: 1;
  padding: 20px;
  border-radius: 1.2rem;
  overflow: hidden;
}
.card-rubros-2 {
  background: #f3f7fa;
  flex: 1;
  padding: 20px;
  overflow: hidden;
}
.i-rubro {
  background: #f3f7fa;
}
.card-cantidad {
  background: #3b4c56;
  padding: 20px;
  border-radius: 1.2rem;
  flex: 1;
}
.i-cantidad {
  background: rgb(255 255 255 / 20%);
  color: #fff;
}
.dato-cantidad1 {
  color: #fff;
  font-size: 18px;
}
.dato-cantidad2 {
  color: rgb(255 255 255 / 80%);
  font-size: 16px;
  font-weight: 500;
}
.card-personal {
  flex-grow: 1;
}
.datos-input {
  flex-direction: column;
  flex: 1;
  width: 22%;
}

.btn-close {
  color: rgb(255 255 255 / 60%);
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 28px;
  cursor: pointer;
}

/* Estadisticas */
.gap-30 {
  gap: 30px;
}
.icon-estadisticas {
  background: rgb(188 19 115 / 5%);
  color: #bc1373;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 26px;
}
.cantidad-estd {
  color: #510839;
  font-size: 22px;
  font-weight: 600;
}
.detalles-estd {
  font-weight: 600;
  font-size: 18px;
  color: rgb(81 8 57 / 80%);
}
.bloque-estd {
  line-height: 1;
  flex: 1;
  overflow: hidden;
}
.icon-chart-1 {
  font-size: 36px;
  color: #bc1373;
  font-weight: 500;
}
.icon-chart-2 {
  font-size: 36px;
  color: #01b43e;
  font-weight: 500;
}
.icon-chart-3 {
  font-size: 36px;
  color: #007aff;
  font-weight: 500;
}
.icon-chart-4 {
  font-size: 36px;
  color: #17a2b8;
  font-weight: 500;
}
.chart-cantidad {
  font-size: 28px;
  color: #510839;
  font-weight: 600;
  line-height: 0.8;
  margin-top: 5px;
}
.chart-section {
  line-height: 1.2;
  flex: 1;
}
.chart-text-1 {
  font-size: 18px;
  color: rgb(81 8 57 / 80%);
  font-weight: 600;
}
.chart-text-2 {
  font-size: 18px;
  color: rgb(81 8 57 / 50%);
  font-weight: 600;
}

.detalles-ofer-emp {
  align-items: center;
}

.name-doc {
  color: rgb(59 76 86 / 70%);
  background: #e4eaef;
  padding: 0.56rem;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  border-radius: 0.8rem;
}

/* Requerimiento Detalles */
.section-guia {
  background-image: url(images/header-01.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  color: #ffffff;
  height: 300px;
}
.header-requerimiento {
  width: 100%;
  max-width: calc(100% - 100px);
  margin: auto 40px;
  z-index: 9;
  height: 100%;
  justify-content: end;
}
.breadcrumb-req {
  gap: 8px;
  padding-bottom: 50px;
  font-weight: 500;
}
.ruta-req {
  color: #fff;
  opacity: 0.7;
  text-decoration: none;
  font-weight: 500;
}
.section-detalles {
  background: #f3f7fa;
  padding: 40px;
}
.img-slider-req {
  width: 100%;
  border-radius: 1.5rem;
  height: 100%;
  object-fit: cover;
  object-position: right;
}
.datos-req {
  font-size: 15px;
  font-weight: 600;
}
.dato-detalle-1 {
  flex-grow: 1;
  white-space: nowrap;
}
.i-vi {
  color: #bc1373;
  margin-right: 2px;
}
.dato-detalle-2 {
  color: rgb(81 8 57 / 70%);
}
.oferta-check {
  background: rgb(188 19 115 / 5%);
  color: #bc1373;
  font-weight: 600;
  padding: 20px;
  border-radius: 0.9rem;
  height: calc(100vh - 768px);
}
.section-galeria {
  position: relative;
  height: 328px;
}
.galeria-detalles {
  position: absolute;
  top: 0;
  width: 100%;
}
.detalles-requ {
  padding: 20px;
}
.det-c {
  justify-content: space-between;
  align-items: flex-start;
}
.det-1 {
  background: #300020;
  color: #fff;
  padding: 15px;
  border-radius: 1rem;
  font-weight: 600;
}
.det-2 {
  font-size: 28px;
  font-weight: 700;
  color: #510839;
  background: #fff;
  padding: 15px;
  border-radius: 1rem;
  line-height: 0.9;
}
.det-3 {
  background: #bc1373;
  color: #fff;
  padding: 15px;
  border-radius: 1rem;
  font-weight: 600;
  line-height: 1;
}
.ub-1 {
  font-size: 20px;
}
.ub-2 {
  opacity: 0.7;
  line-height: 1.3;
}
.det-2 span {
  color: rgb(81 8 57 / 50%);
  font-size: 14px;
}
.p-start-2 {
  color: #f9a825;
  font-size: 18px;
}
.tags-detalles {
  font-weight: 500;
}
.c-descripcion {
  text-align: justify;
  word-wrap: break-word;
}
.multimedia-nula {
  background: #f3f7fa;
  color: #92acbf;
  font-weight: 600;
  text-align: center;
  padding: 20px;
  border-radius: 0.9rem;
  cursor: pointer;
}
.multimedia-files {
  background: #ffe9f7;
  color: #bc1373;
  font-weight: 600;
  text-align: center;
  padding: 20px;
  border-radius: 0.9rem;
  cursor: pointer;
  flex-grow: 1;
}
.name-file {
  line-height: 0.7;
}
.aviso-h {
  line-height: 1.2;
  text-align: center;
}
.requ-oferta {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
}
.cbl-1 {
  grid-column: 1 / span 3;
}
.cbl-2 {
  grid-column: 4 / span 1;
}
.cbl-3 {
  grid-column: 1 / span 2;
}
.cbl-4 {
  grid-column: 3 / span 2;
}
.cbl-5 {
  grid-column: 1 / span 1;
}
.cbl-6 {
  grid-column: 2 / span 3;
}

.i-main {
  width: 18px;
  text-align: center;
  opacity: 0.7;
}

/* Estilos Index */
.container-tc {
  padding: 0 100px;
}
.j-conten {
  justify-content: center;
}
.j-items {
  align-items: center;
}
.gap-5 {
  gap: 5px;
}
.header-menu {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.section-slider {
  background-image: url(images/back-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  color: #ffffff;
  height: 520px;
  margin-top: -79px;
  z-index: -1;
  /* filter: brightness(60%); */
}
.section-slider::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgb(0 0 0 / 45%);
}
.form-buscar {
  flex: 1;
}
.logo-header {
  height: 48px;
}
.btn-pink {
  color: #3b4c56;
  background: #fff;
}
.btn-pink:hover {
  color: #fff;
  background: #bc1373;
}
.btn-pink.focus,
.btn-pink:focus {
  color: #fff;
  background: #bc1373;
}
.btn-pink.active,
.btn-pink:active {
  color: #fff;
  background: #bc1373;
}

.icon-home {
  background: rgb(255 255 255 / 20%);
  color: #fff;
  min-width: 50px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 22px;
}
.ti-1 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
.ti-2 {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.slider-desc {
  position: absolute;
  width: 100%;
  height: 440px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.count-req {
  align-items: center;
  /* flex: 1; */
  overflow: hidden;
}
.home-t > h3 {
  font-weight: 500;
}
.home-det {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17%, 1fr));
}
.home-1 {
  grid-column: 1 / span 4;
}
.home-2 {
  grid-column: 5 / span 1;
}
.back-filter {
  color: #3b4c56;
  font-weight: 500;
  background-image: url(images/back-search.svg);
  background-size: 16%;
  background-repeat: no-repeat;
  background-position: top right;
}
.t-filtro {
  font-size: 20px;
  font-weight: 600;
}
.form-filter {
  background: transparent;
  padding: 0;
}
.img-empresa {
  width: 135px;
  max-width: 135px;
  height: 135px;
  object-fit: cover;
  border-radius: 50%;
}
.premium-empresa {
  background: #f9a825;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  padding: 7px;
  border-radius: 0.5rem;
  line-height: 0;
}
.empresa-about {
  flex-grow: 1;
  width: calc(100% - 145px);
}
.about-1 {
  font-size: 26px;
  font-weight: 600;
}
.about-2 {
  font-size: 18px;
  font-weight: 600;
}
.icon-empresa-d {
  font-size: 24px;
  width: 50px;
  height: 50px;
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.calificacion-emp {
  background: rgb(81 8 57 / 25%);
  text-align: center;
  padding: 8px;
  border-radius: 0.9rem;
  font-weight: 500;
  gap: 5px;
  font-size: 14px;
}
.empresa-cantidad {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
}
.about-me {
  background: #fff;
  padding: 15px;
  border-radius: 1.2rem;
  flex: 1;
  color: #92acbf;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
}
.btn-certificate {
  font-size: 18px;
}
.i-rubro-2 {
  min-width: 50px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #f3f7fa;
  color: #3b4c56;
  font-size: 24px;
}
.rubro-1 {
  color: #3b4c56;
  font-size: 18px;
  font-weight: 600;
}
.rubro-2 {
  color: rgb(59 76 86 / 70%);
  font-size: 16px;
  font-weight: 600;
}
.card-datos-emp {
  background: #fff;
  flex: 1;
  padding: 20px;
  border-radius: 1.2rem;
  overflow: hidden;
  align-items: center;
}
.datos-empresa {
  padding: 20px;
  flex: 1;
  border-radius: 22px;
  align-items: center;
  overflow: hidden;
}
.icon-datos-e {
  background: rgb(188 19 115 / 5%);
  color: #bc1373;
  min-width: 50px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 24px;
}
.datosem-1 {
  color: #510839;
  font-size: 18px;
  font-weight: 600;
}
.datosem-2 {
  color: rgb(81 8 57 / 70%);
  font-size: 16px;
  font-weight: 600;
}
.req-t {
  color: #3b4c56;
  margin: 5px 0;
}
.req-t > span {
  font-weight: 400;
}
.btn-pd {
  padding: 1rem;
}
.btn-pd > i {
  font-size: 20px;
}
.btn-pd > span {
  line-height: 0.8;
}
.back-white {
  background: #fff;
  position: relative;
  padding: 20px;
}
.list-requ {
  font-size: 26px;
  font-weight: 600;
  flex: 1;
  text-align: center;
  line-height: 1;
}
.filtro-e {
  position: absolute;
  right: 15px;
}
.pub-emp {
  border-radius: 1.5rem;
}
.back-pub-1 {
  background-color: #0a2534;
  color: #fff;
  background-image: url(images/back-publicidad.svg);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: top right;
  cursor: pointer;
}
.back-pub-2 {
  background-color: #510839;
  color: #fff;
  background-image: url(images/back-publicidad.svg);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: top right;
  cursor: pointer;
}
.back-pub-3 {
  background-color: #bc1373;
  color: #fff;
  background-image: url(images/back-publicidad.svg);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: top right;
  cursor: pointer;
}
.back-pub-4 {
  background-color: #fe9b2a;
  color: #fff;
  background-image: url(images/back-publicidad.svg);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: top right;
  cursor: pointer;
}
.back-pub-5 {
  background-color: #3b4c56;
  color: #fff;
  background-image: url(images/back-publicidad.svg);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: top right;
  cursor: pointer;
}
.back-pub-6 {
  background-color: #bc1373;
  color: #fff;
  background-image: url(images/back-publicidad.svg);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: top right;
  cursor: pointer;
}
.tpub-1 {
  font-size: 26px;
  font-weight: 600;
}
.tpub-2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
}
.tpub-3 {
  font-size: 26px;
  font-weight: 600;
  line-height: 0.9;
}
.tpub-3 > span {
  font-size: 16px;
  opacity: 0.6;
}
.datos-empresa-2 {
  padding: 20px;
  flex: 1;
  border-radius: 22px;
  align-items: center;
  overflow: hidden;
}
.portada-detalle-2 {
  width: 146px;
  height: 146px;
  object-fit: cover;
  border-radius: 1.2rem;
}
.requerimiento-2 {
  background: #f3f7fa;
  padding: 25px;
  /* margin-top: 5px; */
  border-radius: 1.5rem;
}
.filter-in {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  gap: 10px;
  width: 100%;
}
.f-empresa {
  grid-column: 1 / span 2;
}
.footer-h {
  background: #510839;
  color: #fff;
  line-height: 1.5;
  padding: 25px 40px;
}
.footer-s1 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(35%, 1fr));
  align-items: center;
}
.footer-s2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(35%, 1fr));
  align-items: center;
}
.footer-s1 > img {
  height: 50px;
}
.copyright {
  opacity: 0.8;
  font-weight: 500;
}
.min-menu {
  justify-content: end;
}
.min-menu > a {
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
  font-weight: 500;
}
.min-menu > a:hover {
  opacity: 1;
}
.f-redes {
  justify-content: end;
}
.f-redes > a {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  display: inline-block;
  background-color: rgb(0 0 0 / 25%);
  color: var(--white);
  transition: all 0.4s ease-in-out;
}
.f-redes > a:hover {
  background-color: #bc1373;
  color: #fff;
}
.certificado-estado-1 {
  background: #cbf2f4;
  color: #17a2b8;
  padding: 20px;
  border-radius: 1.2rem;
  flex: 1;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
}
.certificado-estado-2 {
  background: #ddffe8;
  color: #01b43e;
  padding: 20px;
  border-radius: 1.2rem;
  flex: 1;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
}
.certificado-estado-3 {
  background: #ffebeb;
  color: #d80000;
  padding: 20px;
  border-radius: 1.2rem;
  flex: 1;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
}
.titulo-req-2 {
  color: #3b4c56;
  margin: 0;
  font-size: 1.5rem;
  text-align: justify;
  line-height: 1.08;
}
.ofer-req-2 {
  color: #3b4c56;
  font-weight: 600;
  line-height: 1.3;
  text-align: justify;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  opacity: 0.8;
}
.ofer-req-2-no-clamp {
  color: #3b4c56;
  font-weight: 600;
  line-height: 1.3;
  text-align: justify;
  opacity: 0.8;
}

/* Estilos Chat */
.modulo-chat {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8%, 1fr));
}
.mch-1 {
  grid-column: 1 / span 4;
  height: calc(100vh - 248px);
}
.mch-2 {
  grid-column: 5 / span 6;
  height: calc(100vh - 248px);
}
.chat-buscar {
  background: #f3f7fa;
  color: #92acbf;
  padding: 10px 15px;
  border-radius: 15px;
}
.chat-buscar > input {
  flex: 1;
}
.card-chat {
  padding: 12px 15px;
  border-radius: 1.2rem;
  transition: all 0.2s ease-out;
  cursor: pointer;
  position: relative;
}
.card-chat:hover {
  background: #f3f7fa;
}
.img-chat {
  min-width: 55px;
  width: 55px;
  height: 55px;
  object-fit: cover;
  border-radius: 50%;
}
.img-chat-2 {
  min-width: 55px;
  width: 55px;
  height: 55px;
  object-fit: cover;
  border-radius: 50%;
}
.inicial-chat {
  background: #bc1373;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  min-width: 55px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inicial-chat-2 {
  background: #bc1373;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  min-width: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.chat-user {
  line-height: 1.1;
  overflow: hidden;
  flex: 1;
}
.usuario-chat {
  font-weight: 600;
  font-size: 18px;
  color: #3b4c56;
  line-height: 1;
}
.requ-chat {
  font-weight: 600;
  font-size: 16px;
  color: #92acbf;
}
.mensaje-chat {
  font-weight: 600;
  font-size: 14px;
  color: rgb(59 76 86 / 80%);
}
.date-chat {
  align-items: end;
  line-height: 1;
  gap: 3px;
}
.chat-fecha {
  font-size: 14px;
  font-weight: 500;
  color: #92acbf;
  letter-spacing: -1px;
}
.chat-opciones {
  cursor: pointer;
  width: 20px;
  text-align: right;
  font-size: 20px;
  line-height: 0.5;
}
.chat-notf-2 {
  background: #bc1373;
  color: #fff;
  padding: 3px 5px;
  border-radius: 15px;
  line-height: 1;
  font-weight: 500;
  font-size: 14px;
}
.list-chats {
  margin: 0px -21px 0px -15px;
}
.sin-chats {
  height: 100vh;
  cursor: auto;
}
.chat-pre {
  width: auto;
  height: auto;
  max-width: 80%;
  max-height: 80%;
}
.pre-chat {
  line-height: 1.3;
  text-align: center;
}
.info-chat1 {
  font-size: 20px;
  font-weight: 600;
  color: #3b4c56;
}
.info-chat2 {
  font-size: 16px;
  font-weight: 600;
  color: #92acbf;
  line-height: 1;
}
.chat-online {
  background: #39b54a;
  width: 15px;
  height: 15px;
  border-radius: 30px;
  position: absolute;
  left: 55px;
  top: 50px;
}
.chat-info {
  border-radius: 1.2rem;
  transition: all 0.2s ease-out;
  position: relative;
}
.chat-iu {
  line-height: 1.2;
  overflow: hidden;
  flex: 1;
}
.chat-online-2 {
  background: #39b54a;
  width: 15px;
  height: 15px;
  border-radius: 30px;
  position: absolute;
  left: 40px;
  top: 40px;
}
.chat-close {
  font-size: 24px;
  font-weight: 500;
  color: #92acbf;
  letter-spacing: -1px;
  cursor: pointer;
}
.mensaje-send {
  font-size: 20px;
  cursor: pointer;
}
.form-transparent {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #92acbf;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0.6rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-transparent:focus {
  outline: 0;
}
.form-transparent::placeholder {
  color: #a0bbd0;
}
.conversacion {
  flex: 1;
  position: relative;
  justify-content: end;
  line-height: 0.9;
  margin: 0 -6px 0 0px;
  overflow: hidden;
}
.fecha-comment {
  position: absolute;
  top: 0;
  color: #fff;
  background: #92acbf;
  padding: 7px 9px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  border-radius: 0.6rem;
  z-index: 9;
}
.txt-salida {
  width: 100%;
  justify-content: end;
}
.txt-entrada {
  width: 100%;
  justify-content: start;
  position: relative;
}
.mensaje-salida {
  background: #ffe9f7;
  color: #bc1373;
  padding: 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  border-top-right-radius: 0.9rem;
  border-bottom-left-radius: 0.9rem;
  border-top-left-radius: 0.9rem;
  display: flex;
  gap: 4px;
  align-items: end;
}
.mensaje-salida-img {
  background: #ffe9f7;
  padding: 6px;
  border-top-right-radius: 0.9rem;
  border-bottom-left-radius: 0.9rem;
  border-top-left-radius: 0.9rem;
  position: relative;
}
.mensaje-entrada-img {
  background: #f3f7fa;
  padding: 6px;
  border-top-right-radius: 0.9rem;
  border-bottom-right-radius: 0.9rem;
  border-top-left-radius: 0.9rem;
  margin-left: 45px;
  position: relative;
}
.mensaje-salida-doc {
  background: #ffe9f7;
  color: #bc1373;
  padding: 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  border-top-right-radius: 0.9rem;
  border-bottom-left-radius: 0.9rem;
  border-top-left-radius: 0.9rem;
}
.mensaje-entrada {
  background: #f3f7fa;
  color: #3b4c56;
  padding: 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  border-top-right-radius: 0.9rem;
  border-bottom-right-radius: 0.9rem;
  border-top-left-radius: 0.9rem;
  margin-left: 45px;
  display: flex;
  gap: 4px;
  align-items: end;
}
.mensaje-entrada-doc {
  background: #f3f7fa;
  color: #3b4c56;
  padding: 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  border-top-right-radius: 0.9rem;
  border-bottom-right-radius: 0.9rem;
  border-top-left-radius: 0.9rem;
  margin-left: 45px;
}
.useri-chat {
  min-width: 40px;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
}
.space-img {
  width: 45px;
  min-width: 45px;
}
.image-send {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 0.6rem;
}
.mensaje-hora {
  font-size: 11px;
  font-weight: 500;
  white-space: nowrap;
  margin-bottom: -4px;
  margin-right: -3px;
  letter-spacing: -0.4px;
}
.mensaje-hora-img {
  font-size: 11px;
  font-weight: 500;
  white-space: nowrap;
  margin-bottom: -3px;
  letter-spacing: -0.4px;
  position: absolute;
  bottom: 23px;
  right: 15px;
  color: #fff;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}
.file-min-2 {
  /* height: 55px !important;
  width: 55px !important; */
  border-radius: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
.mensajes-contenedor {
  overflow: auto;
}
.tc-chat {
  background: #f3f7fa;
  color: #000;
  height: calc(100vh - 138px);
  padding: 30px;
}
/* Chat Upload */
.galeria-upload {
  background: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 30px;
  z-index: 9;
}
.content-galeria {
  background: #ffe9f7;
  height: calc(100vh - 308px);
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.9rem;
  padding: 30px;
}
.btn-pm {
  padding: 0.4rem 0.6rem;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1.5;
}
.name-documento {
  color: rgb(81 8 57 / 80%);
  font-weight: 500;
  line-height: 1;
  max-width: 100%;
}
.archivo-preview {
  flex: 1;
  display: flex;
  align-items: center;
  max-height: calc(100vh - 475px);
}
.imagen-preview {
  border-radius: 0.9rem;
  max-width: 100%;
  max-height: 100%;
}
