/* Primarios */

body {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 28px;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

/* Scroll */

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
}
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0, 0.3);
  border-radius: 8px;
}

.scroll-y {
  overflow-y: scroll;
}

/* Texto y Fuentes */

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

/* Color */

.c-default {
  color: #bc1373;
}

/* Bootnes */

.btn {
  display: inline-block;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.6rem;
  font-size: 0.9rem;
  border-radius: 0.8rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
  line-height: 1.5;
  border-radius: 0.6rem;
}

.btn-default {
  color: #fff;
  background: #bc1373;
}

.btn-default:hover {
  background: #990057;
}

.btn-default.focus,
.btn-default:focus {
  background: #990057;
}

.btn-grey {
  color: #3b4c56;
  background: #f3f7fa;
}

.btn-grey:hover {
  color: #fff;
  background: #bc1373;
}

.btn-grey.focus,
.btn-grey:focus {
  color: #fff;
  background: #bc1373;
}

.btn-grey.active,
.btn-grey:active {
  color: #fff;
  background: #bc1373;
}

.btn-white {
  color: #000;
  background-color: #fff;
}

.btn-white:hover {
  background: #e9e9e9;
}

.btn-white.focus,
.btn-white:focus {
  background: #e9e9e9;
}

.btn-transparent {
  color: #fff;
  background: transparent;
}

.btn-transparent:hover {
  background: rgb(0 0 0 / 20%);
}

.btn-transparent.focus,
.btn-transparent:focus {
  background: rgb(0 0 0 / 20%);
}

.btn-border {
  color: #510839;
  border: 2px solid #510839;
}

.btn-border:hover {
  color: #fff;
  background: #510839;
}

.btn-border.focus,
.btn-border:focus {
  color: #fff;
  background: #510839;
}

.btn-border.active,
.btn-border:active {
  color: #fff;
  background: #510839;
}

.btn-border-default {
  color: #bc1373;
  border: 2px solid #bc1373;
}

.btn-border-default:hover {
  color: #fff;
  background: #bc1373;
}

.btn-border-default.focus,
.btn-border-default:focus {
  color: #fff;
  background: #bc1373;
}

/* Formularios */

.form-control {
  padding: 0.475rem 0.85rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #92acbf !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #f3f7fa !important;
  background-clip: padding-box;
  border: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #bc1373;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(188, 19, 115, 0.25);
}

/* Containers y Tamaños */

.t-flex {
  display: flex;
}

.t-wrap {
  flex-wrap: wrap;
}

.wd-100 {
  width: 100% !important;
}
.wd-50 {
  width: 50% !important;
}
.wd-25 {
  width: 25% !important;
}
.wd-10 {
  width: 10% !important;
}

.wd-33 {
  width: 33.3% !important;
}

.col-menu {
  width: 20%;
  height: calc(100vh - 60px);
  background: #510839;
  color: #fff;
  padding: 30px;
  flex-direction: column;
  gap: 10px;
  background: linear-gradient(-35deg, #bc1373 0%, #510839 45%);
}

.col-datos {
  width: 80%;
  color: #000;
}

.tc-datos {
  background: #f3f7fa;
  color: #000;
  height: calc(100vh - 138px);
  padding: 30px;
}

.card-white {
  background: #fff;
  padding: 30px;
  border-radius: 30px;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

/* Menu */

.menu-tc-1 {
  flex-grow: 1;
  gap: 2px;
  flex-direction: column;
}

.menu-tc-2 {
  gap: 10px;
  flex-direction: column;
}

.menu-tc-3 {
  gap: 2px;
  flex-direction: column;
}

.sub-menu {
  flex-grow: 1;
  gap: 2px;
  flex-direction: column;
  margin-left: 22px;
  display: none;
}

.i-btn {
  width: 25px;
}

.i-sub {
  float: right;
  margin-top: 3px;
  width: 28px;
}

.chat-notf {
  float: right;
  background: #bc1373;
  padding: 1px 6px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 600;
}

/* Header */

.i-menu {
  font-size: 24px;
  cursor: pointer;
  color: #92acbf;
}

.i-opt {
  color: #92acbf;
  font-size: 24px;
  margin-right: 8px;
  line-height: 2;
  cursor: pointer;
}

.user-opt {
  cursor: pointer;
}

.options-tc {
  font-weight: 600;
  gap: 10px;
  align-items: center;
}

.options-tc img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
}

.avatar-l {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #bc1373;
  color: #fff;
  border-radius: 50%;
  font-size: 26px;
}

.header-tc {
  padding: 15px 20px;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.i-notf {
  width: 10px;
  height: 10px;
  border-radius: 15px;
  background: #bc1373;
  position: absolute;
  margin-top: 10px;
  margin-left: -15px;
}

/* Contenedor de Datos */

.c-titulo {
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
}

.titulo {
  font-size: 28px;
  font-weight: 700;
}

.sub-titulo {
  font-size: 20px;
  font-weight: 600;
}

.sub-icon {
  color: #bc1373;
  background: rgb(188 19 115 / 5%);
  padding: 15px;
  border-radius: 50%;
  font-size: 24px;
  margin-right: 5px;
}

.user-premium {
  background: #f9a825;
  color: #fff;
  font-size: 14px;
  padding: 8px 10px;
  border-radius: 0.5rem;
  margin-right: 5px;
  line-height: 1;
}

/* Login y registro */

.modal-login {
  display: flex;
  width: 100%;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
}

.login-box {
  padding: 40px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-box p {
  margin-bottom: 15px;
  margin-top: 0;
  font-weight: 500;
  line-height: 1.3;
}

.forgot-password {
  color: #92acbf;
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
}

.image-box {
  width: 60%;
  background-image: url("images/login.jpg");
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .image-box {
    display: none;
  }

  .login-box {
    width: 100% !important;
  }
}

/* Modal Agregar Requerimiento */
.modal-card {
  background: #fff;
  padding: 40px;
  border-radius: 1rem;
}
.img-bg {
  /* width: 800px; */
  /* width: 100%; */
  background-image: url(images/back-modal.svg);
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: top right;
}
.mr-sub {
  margin-bottom: 20px;
  gap: 15px;
}
.form-tc {
  row-gap: 15px;
  flex-direction: column;
}
.gap-15 {
  gap: 15px;
}
.row-gap-15 {
  row-gap: 15px;
}
.img-prod {
  border-radius: 0.9rem;
}
.subir-img {
  background: #bc1373;
  color: #ffffff;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  margin-left: 117px;
  margin-top: 10px;
  font-size: 14px;
  cursor: pointer;
}
.req-col {
  flex-direction: column;
  flex-grow: 1;
}
.titulo-input {
  color: #3b4c56;
  font-weight: 600;
  font-size: 16px;
}
.multimedia-subir {
  background: #ffe9f7;
  color: #bc1373;
  font-weight: 600;
  text-align: center;
  padding: 30px;
  border-radius: 0.9rem;
  cursor: pointer;
}
.galeria-min {
  gap: 10px;
  margin-top: 15px;
}
.img-min {
  height: 55px !important;
  width: 55px !important;
  border-radius: 0.6rem;
  display: flex;
  object-fit: cover;
}
.img-trash {
  color: #bc1373;
  background: #fff;
  position: absolute;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  margin-left: 40px;
  margin-top: -60px;
}
.file-min {
  background: #ffe9f7;
  color: #bc1373;
  height: 55px !important;
  width: 55px !important;
  border-radius: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
.up-footer {
  align-items: center;
  justify-content: space-between;
}
.footer-text {
  color: #a4b2ba;
  font-weight: 500;
}

/* Tabla */
.tx-thead {
  color: rgb(59 76 86 / 80%);
}
.td-left {
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  background: #f3f7fa;
}
.td-back {
  background: #f3f7fa;
}
.td-righ {
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  background: #f3f7fa;
}
.dato-table {
  /* padding: 5px; */
  align-items: center;
  font-weight: 500;
  line-height: 1.2;
}
.c-ofertas {
  /* padding: 5px 10px; */
  align-items: center;
  justify-content: center;
}
.img-prod-table {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}
.datos-prod {
  line-height: 1.2;
}
.info-req {
  font-weight: 600;
  /* width: 300px; */
}
.info-categoria {
  font-weight: 600;
  font-size: 15px;
  color: rgb(59 76 86 / 80%);
}
.c-estados {
  /* padding: 10px; */
  align-items: center;
  justify-content: center;
  width: 95px;
}
.oferta-cant {
  background: #ffdef2;
  color: #bc1373;
  padding: 2px 8px;
  border-radius: 15px;
  font-weight: 600;
}
.seleccionar-tb {
  align-items: center;
  gap: 5px;
}
.cont-estado {
  font-size: 14px;
  font-weight: 500;
  padding: 8px 10px;
  border-radius: 0.6rem;
  line-height: 1;
}
.es-atendido {
  background: #c9f2d6;
  color: #01b43e;
}
.es-culminado {
  background: #cfe8ff;
  color: #007aff;
}
.es-cancelado {
  background: #ffd2d2;
  color: #d80000;
}
.es-disputa {
  background: #cbf2f4;
  color: #17a2b8;
}
.es-expirado {
  background: #e6e6e6;
  color: #808080;
}
.es-publicado {
  /* background: rgb(250, 242, 207);
  color: rgb(255, 201, 14); */
  background: #ffdef2;
  color: #bc1373;
}
.es-eliminado {
  background: #000000;
  color: #e7ddbe;
}
/********** Antd's select **************************/

.form-control .ant-select-selector {
  border: 1px solid transparent !important;
  background: transparent !important;
}

.ant-select.ant-select-in-form-item {
  padding: 0;
}

.ant-select-focused .ant-select-selector {
  border-color: none !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.25rem rgba(188, 19, 115, 0.25) !important;
}

.ant-select-single .ant-select-selector {
  font-weight: 400;
  color: #92acbf;
  font-size: 1rem;
}

.ant-form-item-control-input-content > .ant-select {
  height: 40.33px !important;
}

.form-control > .ant-select-selector {
  text-align: left;
}

/************** Antd general ********************/

/* No espacio entre elementos de formulario */
.ant-form-item {
  margin-bottom: 0px;
}

/* Modales */
.ant-modal .ant-modal-content {
  background: transparent;
  padding: 0;
  border-radius: 2rem;
}

/* Focus en Input password */
.ant-input-outlined:focus-within {
  border-color: transparent !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.25rem rgba(188, 19, 115, 0.25) !important;
}

/* Focus en date picker */
.ant-picker-outlined:focus-within {
  border-color: transparent !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.25rem rgba(188, 19, 115, 0.25) !important;
}

/* Color de texto en input number */
.ant-input-number .ant-input-number-input {
  color: inherit;
}

.ant-picker .ant-picker-input > input {
  color: inherit;
  font-size: inherit;
  font-family: "Rubik";
}

/* Button height */
.ant-btn {
  height: inherit;
}

/* Number input  */

.ant-input-number {
  width: 100%;
}

.ant-input-number .ant-input-number-input {
  padding: 0;
}

.ant-input-number:focus-within {
  border-color: none !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.25rem rgba(188, 19, 115, 0.25) !important;
}

/* Ocultar cuadro de Upload */
.hide-upload .ant-upload-wrapper .ant-upload-select {
  display: none;
}

/* Reduce tamaño de preview de Upload para tipo picture-card */
.ant-upload-list-picture-card .ant-upload-list-item-container {
  width: 70px !important;
  height: 70px !important;
}

/* No mostrar nada cuando Form.Item no tiene contenido */
.ant-form-item .ant-form-item-control-input {
  min-height: 0;
}

/* Muestra sólo el primer error de validación */
form div.ant-form-item-explain .ant-form-item-explain-error:not(:first-child) {
  display: none;
}

/* Cambiar hover de button */
.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
  background: #990057;
  color: #ffffff;
}

/* Tamaño de fuente en tabla */
.ant-table-wrapper .ant-table {
  font-size: 16px;
}

/*****************************/

/* Truncar texto */
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Pasar texto a siguiente línea */
.long-text-wrap {
  word-wrap: break-word;
  word-break: break-all;
}

/* Rate stars */
.custom-rate-star .ant-rate-star {
  /* margin-right: 20px;  */
  font-size: 18px;
}

/* Tablas */

.card-white .ant-table-wrapper .ant-table-tbody > tr > td {
  background: #f3f7fa;
  border-bottom: 5px solid white;
  padding: 5px 10px;
}

.card-white td:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.card-white td:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

/* Scrollbar */

.custom-scroll::-webkit-scrollbar {
  width: 5px;
}
.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #b7bfc5;
  border-radius: 35px;
  border: 0px;
}
